:root{
    --theme-color: #4701FF;
    --text-color:#fff;
}

/* Navbar Styles */
.navBar{
  position: fixed;
width: 100%;
bottom: 0;
display: flex;
justify-content: space-between;
  color:var(--text-color);
  z-index: 7;
  font-family: sans-serif;
  font-size: 13px;
}
.fnt-weight{
    font-weight: 100;
}
.navBar a{
    color: var(--text-color);
    text-decoration: none;
    padding: 3px;
    font-weight: 500;
    transition: all 0.5s ease-in-out;
}
.navBar a:hover{
    font-size: 10px;
}
.navLeft{
    display: flex;
}

.navDescription, .navLocation, .navGroup{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

/* Sidebar Styles */
.menu-svg{
position: fixed;
right: 0;
margin: 10px;
font-size: 2rem;
color: white;
}

.sideBar{
background-color: rgba(72,1,255,.85);
width: 100vw;
height: 90vh;
z-index: 20;
position: fixed;
transition: 350ms ease-in;
left: -100%;
color: var(--text-color);
font-family: sans-serif;
font-weight: 500;
}
.sideBar.active {
    left: 0;
    transition: 350ms ease-in;
}
.sideBar-items{
    list-style: none;
}
.sideBar-items a{
   color: var(--text-color);
   text-decoration:none ;
}
.menu-email{
    color: var(--text-color);
    text-decoration:none ; 
}
.menu-container{
   height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebar-close{
    font-size: 70px;
    transition: 350ms ease-in;
}
.sidebar-close:hover{
    font-size: 60px;
    transition: 350ms ease-out;
}
.footnote{
  color: #000;
  text-align: center;
  font-family: sans-serif;
  font-size: 10px;
margin-top: auto;
}

@media screen and (max-width: 667px) {
    .navBar{
        display: none;
    }
  
}
@media screen and (min-width: 667px) {
    .menu-svg{
        display: none;
    }
  
}